# Data wrangling

I found the data by opening the Developer Console in Chrome. Switched to the Network tab. Sorted by size and then found the file [kq-data.txt](https://static01.nyt.com/packages/flash/newsgraphics/2009/1102-lines/kq-data.txt).

I’m not sure what format this file followed (might be some Flash format), so I just opened the file in Sublime Text and replaced every space with and comma and change the file extention to `csv` by simple renaming the file. This allowed me to import the file with [CSV.jl](https://juliadata.github.io/CSV.jl/stable/).

I'm also using [JSON.jl](https://github.com/JuliaIO/JSON.jl) to export the data later.

In [44]:
using CSV
using JSON

First, import the data. It will give you a preview. You can already see that the column names are not really useful.

In [42]:
data = CSV.read("kq-data.csv")

33×241 DataFrames.DataFrame. Omitted printing of 237 columns
│ Row │ count:integer │ 0000-n:Number │ 0001-n:Number │ 0002-n:Number │
│     │ Int64         │ Float64       │ Float64       │ Float64       │
├─────┼───────────────┼───────────────┼───────────────┼───────────────┤
│ 1   │ 1             │ 4.73258       │ 10.2666       │ 4.81456       │
│ 2   │ 2             │ 4.71009       │ 10.2726       │ 4.79065       │
│ 3   │ 3             │ 4.68298       │ 10.2504       │ 4.76913       │
│ 4   │ 4             │ 4.66219       │ 10.3068       │ 4.74047       │
│ 5   │ 5             │ 4.64944       │ 10.3331       │ 4.72436       │
│ 6   │ 6             │ 4.64208       │ 10.3301       │ 4.72449       │
│ 7   │ 7             │ 4.63167       │ 10.2938       │ 4.72111       │
│ 8   │ 8             │ 4.62503       │ 10.2602       │ 4.7169        │
│ 9   │ 9             │ 4.63764       │ 10.3551       │ 4.72564       │
│ 10  │ 10            │ 4.66169       │ 10.4285       │ 4.75333       │
⋮
│ 23  │ 23            │ 5.68771       │ 12.71         │ 5.92109       │
│ 24  │ 24            │ 5.8827        │ 13.0575       │ 6.12871       │
│ 25  │ 25            │ 6.14195       │ 13.4469       │ 6.42067       │
│ 26  │ 26            │ 6.44743       │ 13.9282       │ 6.75576       │
│ 27  │ 27            │ 6.76247       │ 14.4426       │ 7.09948       │
│ 28  │ 28            │ 7.08342       │ 15.0087       │ 7.45469       │
│ 29  │ 29            │ 7.40246       │ 15.5583       │ 7.79576       │
│ 30  │ 30            │ 7.73906       │ 16.1108       │ 8.16034       │
│ 31  │ 31            │ 8.04998       │ 16.61         │ 8.49635       │
│ 32  │ 32            │ 8.33844       │ 17.0625       │ 8.81314       │
│ 33  │ 33            │ 8.62457       │ 17.4593       │ 9.13185       │

I did some manual checking and found out that every column is one group of people with the first year’s value in the first row and last year’s value in the last row.

The order is also simple and follows the order of the option at the top.

So loop over every column I create Tuples with every category. The order of the items is obviously important and the same as in the options.

In [19]:
RACES = (
    "allRaces",
    "white",
    "black",
    "hispanic",
    "allOtherRaces"
)

("allRaces", "white", "black", "hispanic", "allOtherRaces")

I’m always indicating that it’s an array by adding an »s« to the end of the variable name.

In [27]:
GENDERS = ("menAndWomen", "men", "women")

("menAndWomen", "men", "women")

In [7]:
AGES = ("allAges", "age15to24", "age25to44", "age45older")

("allAges", "age15to24", "age25to44", "age45older")

In [26]:
EDUCATIONS = ("allEducation", "noHighSchool", "highSchool", "college")

("allEducation", "noHighSchool", "highSchool", "college")

Before we loop over all the categories, we create an empty Dictionary that uses a String as key and an Array of Float64 numbers as value.

We will use this Dictionary to save the data as we loop over the table.

In [38]:
rows = Dict{String, Array{Float64,1}}()

Dict{String,Array{Float64,1}} with 0 entries

Next, we loop over all option. Again, the order of the loops is important.
In every loop we increase the value of `col` by one. This variable stores the index of the current column. Note that Julia starts Arrays with index 1.

The beauty of multidimensional Arrays in Julia is that we can easily access columns and rows.
We can get the whole column as an Array of values by simply using `[!, column]`.

Next, we build the key for the Dictionary by creating a String from the variables.

Finally, we insert our values in the Dictionary.

In [40]:
col = 2 # Column index starting with 2 as the first one in 
for race in RACES
    for gender in GENDERS
        for age in AGES
            for education in EDUCATIONS
                values = data[!, col]
                id = "$(race)_$(gender)_$(age)_$(education)"
                rows[id] = values
                col += 1
            end
        end
    end
end

Return `rows` to check if everything looks good.

In [41]:
rows

Dict{String,Array{Float64,1}} with 240 entries:
  "allOtherRaces_menAndWom… => [4.31109, 4.31713, 4.32004, 4.30017, 4.29018, 4.…
  "hispanic_men_age25to44_… => [4.0421, 4.02537, 3.98079, 3.93781, 4.00956, 4.0…
  "allOtherRaces_menAndWom… => [18.4925, 19.1859, 18.899, 19.5497, 20.1891, 20.…
  "allOtherRaces_men_age25… => [4.84914, 4.78612, 4.6448, 4.58582, 4.65058, 4.7…
  "allOtherRaces_women_age… => [2.82012, 2.78981, 2.76302, 2.80615, 2.78104, 2.…
  "allOtherRaces_men_allAg… => [2.03191, 2.00159, 1.98796, 1.97333, 2.07081, 2.…
  "white_men_allAges_allEd… => [4.01629, 4.02153, 3.99915, 3.97755, 3.93652, 3.…
  "hispanic_men_allAges_hi… => [4.45, 4.39588, 4.39935, 4.36013, 4.49064, 4.488…
  "allOtherRaces_women_age… => [2.56489, 2.60989, 2.80246, 2.88729, 2.83506, 2.…
  "white_menAndWomen_age25… => [1.82169, 1.77103, 1.72781, 1.70039, 1.69167, 1.…
  "white_women_age45older_… => [4.74944, 4.44215, 4.3269, 4.25204, 4.17455, 3.9…
  "allRaces_menAndWomen_ag… => [4.16095, 4.13025, 4.08897, 4.05122, 4.03958, 4.…
  "hispanic_women_age45old… => [3.48543, 3.46867, 3.38026, 3.3929, 3.32001, 3.2…
  "allOtherRaces_women_age… => [4.55391, 4.51312, 5.41586, 4.88872, 4.73524, 5.…
  "allRaces_women_age45old… => [5.37844, 5.19931, 5.22389, 5.23541, 5.24481, 5.…
  "black_menAndWomen_age45… => [5.54062, 5.61658, 5.6138, 5.57252, 5.57742, 5.5…
  "hispanic_women_allAges_… => [2.45543, 2.43359, 2.44124, 2.47853, 2.44705, 2.…
  "allOtherRaces_men_age25… => [1.57145, 1.66102, 1.86893, 1.91881, 1.99482, 2.…
  "white_men_allAges_colle… => [2.06292, 2.03588, 1.99587, 1.95399, 1.95172, 1.…
  "allRaces_women_age15to2… => [8.00159, 7.87371, 7.78855, 7.7193, 7.66259, 7.5…
  "allRaces_women_age25to4… => [4.34377, 4.27485, 4.20184, 4.15413, 4.14663, 4.…
  "black_menAndWomen_age25… => [8.39403, 8.27731, 8.21136, 8.09387, 8.16976, 8.…
  "white_men_age25to44_col… => [1.86661, 1.81983, 1.76205, 1.72794, 1.71335, 1.…
  "hispanic_women_age25to4… => [5.03156, 5.00369, 4.89719, 4.76869, 4.82624, 4.…
  "black_menAndWomen_age15… => [17.2686, 16.8675, 16.7085, 16.4364, 16.1439, 16…
  ⋮                         => ⋮

Finally, we convert the Dictionary to a JSON (with 2 spaces as indents) and writing everything to `data.json`.

In [46]:
open("data.json", "w") do io
   write(io, JSON.json(rows, 2));
end;